apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: v38.0.*
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 1h
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    deployment:
      replicas: 2
      dnsPolicy: ClusterFirstWithHostNet
    updateStrategy:
      type: Recreate
    hostNetwork: true
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
        add:
          - NET_BIND_SERVICE
    nodeSelector:
      node-role.kubernetes.io/ingress: "true"
    tolerations:
      - operator: Exists
    service:
      type: ClusterIP
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
        port: 80
        expose:
          default: true
        exposedPort: 80
        protocol: TCP
      websecure:
        port: 443
        expose:
          default: true
        exposedPort: 443
        protocol: TCP
    providers:
      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
      kubernetesCRD:
        enabled: true
        allowExternalNameServices: true
    ingressRoute:
      dashboard:
        enabled: false
    logs:
      general:
        level: INFO
      access:
        enabled: true
    global:
      checkNewVersion: false
      sendAnonymousUsage: false
